@import '../../commons/scss/variable.scss';

.player-container {
  position: fixed;
  bottom: 0;
  left: 0;
  // background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  z-index: 2;
  display: flex;
  width: 100%;
  height: $player-height;
  background-color: #333333;
  // flex 布局 三等分
  .player-left-container {
    flex-basis: 220px;
  }

  .player-middle-container {
    flex-grow: 1;
  }

  .player-right-container {
    flex-basis: 220px;
  }
}

.player-left-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
  .music-img {
    // position: absolute;
    // top: 0;
    // left: 130px;
    overflow: hidden;
    margin: 8px 10px;
    width: 64px;
    height: 64px;
    border-radius: 5%;
    cursor: pointer;

    img {
      min-height: 64px;
      width: 64px;
      border-radius: 5%;
    }
  }
  .music-info {
    // position: absolute;
    // top: 20px;

    p {
      overflow: hidden; //超出的隐藏
      text-overflow: ellipsis; //让超出的用...实现
      white-space: nowrap; //禁止换行
    }

    .music-name {
      position: relative;
      top: 1px;
      margin-right: 15px;
      max-width: 350px;
      color: $color-text;
      font-size: $font-size-x;
      cursor: pointer;
    }

    .singer-name {
      margin-top: 10px;
      max-width: 350px;
      color: $color-text-gray;
      font-size: $font-size-m;
      cursor: pointer;
    }
  }
}

.player-middle-container {
  padding: 0 30px;
  .player-control-container {
    margin-top: 10px;
    .play-control-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      color: $color-text;
    }

    .prev-music,
    .play,
    .next-music {
      display: inline-block;
      cursor: pointer;

      i {
        color: $color-text;
        font-size: 20px;
      }
    }

    .play {
      padding: 0 20px;
    }
  }

  .progress-bar-container {
    margin-top: 10px;
    width: 100%;
  }

  
}

.player-right-container {
  // position: relative;
  display: flex;
  align-items: center;
  .right-control-btn {
    // position: absolute;
    // top: 7px;
    // right: 35px;
    display: flex;
    align-items: center;
    // padding: 3px;
    height: $player-height;
    color: $color-text-gray;

    i {
      cursor: pointer;

      &:hover {
        color: $color-text;
      }
    }

    .like-music,
    .dislike-music {
      // position: absolute;
      // top: 3px;
      // right: 50px;
    }

    .dislike-music {
      i {
        color: $color-theme;
      }
    }


    .change-play-mode {
      // position: absolute;
      // top: 3px;
      // right: 25px;
      margin-left: 20px;
      .hide {
        display: none;
      }
    }
  }

  .play-time-container {
    position: absolute;
    top: 45px;
    left: 20px;
  }

  .audio-volume {
    position: relative;
    margin-left: 40px;
    width: 80px;
    i {
      position: absolute;
      top: -3px;
      left: -23px;
      color: $color-text-gray;
    }
  }
}

.player-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: $player-height;
  background: rgba(0, 0, 0, 0.856);
}

.music-detail-background {
  position: fixed;
  top: -20vw;
  left: -20vw;
  z-index: -10;
  width: 150vw;
  height: 150vh;
  background: $color-background;

  img {
    width: 150vw;
    filter: blur(50px);
  }
}